{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block main %}
<h1>Открытка - Поздравление с Новым годом</h1>
<p>
    {% if recipient_gender == 'male' %}
        Дорогой {{ recipient_name }}! Поздравляю тебя с Новым годом и желаю неугасаемой любви, новых увлечений и возможностей. Пусть тебе всегда и во всем везет, обязательно будь самым счастливым!
    {% else %}
        Дорогая {{ recipient_name }}! С новым 2024 годом! Никогда не прекращай быть такой же милой, мудрой, прекрасной и невероятно терпеливой. Пусть то, чего ты хочешь, станет твоим, а всё, чего ты добилась, — приумножится. И даже если что-то пойдет не так, помни, у тебя есть я. Не унывай, и пусть все невзгоды меркнут в сиянии твоей волшебной улыбки.
    {% endif %} 
</p>
<p>
    С наилучшими пожеланиями, <strong>{{ sender_name }}</strong>.
</p>
<div>
    <img src="/static/444.jpg" style="height: 300px; margin-left: 300px;">
</div>
{% endblock %}