{% extends "base.html" %}

{% block laba2 %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Машины</h1>
    <h3>Мазда</h3>
        <img src="{{ url_for('static', filename='mazda6.jpg') }}" height='200px'> 
    <div>
        Mazda 6 — это среднеразмерный автомобиль японской компании Mazda.
        Тип кузова: седан, лифтбек и универсал
        Количество дверей: 4
        Объем двигателя: от 1,8 до 3,7 литров
        Мощность двигателя: 120–261 л. с.
        Расход топлива: от 3.4 до 15 л на 100 км
    </div>

    <h3>Lexus</h3>
        <img src="{{ url_for('static', filename='lexus.jpg') }}" height='200px'> 
    <div>
        Двигатель бензиновый (5663 см³) Мощность 367 л. с. 
        Крутящий момент двигателя 530 Н·м. 
        Коробка передач автоматическая (8 ступеней) Привод полный. 
        Разгон до сотни 7.7 секунды. Максимальная скорость 220 км/ч. 
        Расход топлива (л/100 км) город / трасса / смешанный 20.2 / 10.9 / 14.4 
        Кузов Дорожный просвет 225 мм. 
        Габариты (длина × ширина × высота) 5065 × 1980 × 1910 
        Колёсная база 2850 мм 
        Объём багажника 259 л.</div>


    <h3>BMW</h3>
        <img src="{{ url_for('static', filename='BMW.jpg') }}" height='200px'> 
    <div>
        BMW M5 F90 реальные показатели
        Основные характеристики
        Объем двигателя — 4,4 л.
        Количество цилиндров — 8.
        Максимальная мощность — 625 л. с.
        Время разгона до 100 км/ч — 3,3 с.
        Максимальная скорость — 305 км/ч (с электронным ограничителем — 290 км/ч).
        Расход топлива в смешанном цикле — 10,8 л/100 км.
        Технические характеристики
        Длина — 4966 мм.
        Ширина — 1903 мм.
        Высота — 1469 мм.
        Колесная база — 2982 мм.
        Клиренс — 128 мм.

    </div>

    <h3>Toyota</h3>
    <img src="{{ url_for('static', filename='Toyota.jpg') }}" height='200px'> 
<div>
    Годы выпуска: 1986 – н.в.
    Тип кузова: 2‐дв. лифтбек (4‐мест.)
    Страна производства: Япония
    Количество дверей: 2
    Мощность двигателя: 105–387 л. с
</div>

<h3>Nissan</h3>
<img src="{{ url_for('static', filename='nissan.jpg') }}" height='200px'> 
<div>
    Тип привода	Полный (4WD)
    Тип кузова	Седан
    Тип трансмиссии	АКПП 4
    Объем двигателя, куб.см	2498
    Марка двигателя	RB25DE
    Используемое топливо	
    Бензин Premium (АИ-98)
    Тип двигателя	Рядный, 6-цилиндровый
    Нагнетатель	—
    Максимальная мощность, л.с. (кВт) при об./мин.	200 (147) / 6000
</div>
    {% endblock %}