{% extends "base.html" %}

{% block laba2 %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Пирожные</h1>
    <h3>Корзиночка</h3>
        <img src="{{ url_for('static', filename='корзиночка.jpg') }}" height='200px'> 
    <div>Пирожное "корзиночка" является одним из самых распространенных. Его делают с множеством вкусов, в примере 
        оно показано с ягодами.
    </div>

    <h3>Вишневое пирожное</h3>
        <img src="{{ url_for('static', filename='вишневое.jpg') }}" height='200px'> 
    <div>Вишневое пирожное имеет кисловатый вкус, поэтому подойдет тем, кто не относит себя к сладкоежкам.</div>

    <h3>Голубичное пирожное</h3>
        <img src="{{ url_for('static', filename='с голубикой.jpg') }}" height='200px'> 
    <div>Пирожное с голубикой не такое популярное, но не менее вкусное. Эту ягоду не так часто 
        можно встретить в магазине, поэтому и пирожные редко пекут с этой ягодой.
    </div>

    <h3>Пирожное с орео</h3>
    <img src="{{ url_for('static', filename='с орео.jpg') }}" height='200px'> 
<div>Печенье орео когда-то было на пике популярности. Да и сейчас его часто можно встретить на
    прилавках магазинов. Сейчас его добавляют везде! И пирожные не стали исключением.
</div>

<h3>Шоколадное</h3>
<img src="{{ url_for('static', filename='шоколадное.jpg') }}" height='200px'> 
<div>Одним из самых популярных вкусов- это шоколадный. Такие пирожные очень вкусные и универсальные, понравятся
    как детям, так и взрослым!
</div>
    {% endblock %}